*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

a{
    color: inherit;
    text-decoration: none;
}

ul, ol{
    list-style-type: none;
}

.container{
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 20px ; 
}

@import './header';



.header{
    color: #000;
    &__content{
        padding: 20px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #000;
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    &__nav-list{
        display: flex;
        align-items: center;
        column-gap: 40px;

       
    }


    &__others{
        display: flex;
        column-gap: 40px;
        align-items: center;
    }

    &__location, &__login, &__list-item_courses{ 
        display: flex;
        align-items: center;
        column-gap: 9px;
        
    }

    &__tel{
        color: #00093C;
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        font-weight: 500;
    }
}


.home{
    height: 480px;
    &__content{
        display: flex;
        width: 100%;
        margin: 0 auto;
        height: 480px;
        position: relative;
    }


    &__left, &__right{
        width: 50%;
    }

    &__left{
        background: url(/src/images/BGBG.png) right/cover repeat;
        background-color: #00093C;
        position: relative;

    }
    &__title{
        position: absolute;
        text-align: start;
        color: #FFF;
        font-family: 'Montserrat', sans-serif;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 70px;
        top: 22%;
        left: 25%;
    }

    &__text{
        position: absolute;
        bottom: 35%;
        right: 20%;
        text-align: start;
        color: #FFF;
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    &__right{
        background: url(/src/images/homebg.png) right/cover no-repeat;
    }


    &__svg{
        &-x{
            position: absolute;
            top: 75px;
            left: 100px;
        }

        &-botline{
            position: absolute;
            bottom: -13px;
            left: 73px;
        }
        &-triangle{
            position: absolute;
            bottom: 60px;
            left: 534px;
        }

        &-midline{
            position: absolute;
            top: 240px;
            left: 40%;
            
        }
        &-right-x{
            position: absolute;
        }
    }

   
    
}

.age{
    padding: 110px 0;

    &__content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    &__types{
        position: relative;
        width: 800px;
        display: flex;
        justify-content: space-between;
    }

    &__prop{
      display: flex;
      column-gap: 20px;
      align-items: center;
    }

    &__title{
        color: #000;
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    &__title span{
        color:#4F4F4F;
        font-family: 'Montserrat', sans-serif;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &__underline{
        position: absolute;
        bottom: -15%;
        left: 0;
    }

    &__faculty{
        margin-top: 50px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;

        &-name{
            padding: 15px 20px;
            position: relative;
            border-radius: 6px;
            border: 1px solid rgb(36, 20, 20);
        }
    }
}









.footer{
    padding: 30px 0 60px;
    background: #00093C;
    color: #fff;


    &__content{
        display: flex;
        justify-content: space-between;
    }

    &__box{
        display: flex;
        column-gap:60px;
    }

    &__block{
        margin-top: 100px;
    }

    &__block, &__list-block{
        display: flex;
        flex-direction: column;
    }

    &__list-block{
        row-gap: 24px;
    }
    

    &__list{
        display: flex;
        flex-direction: column;
        color: #FFF;
        
    }

    &__list-item{
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 34px; /* 242.857% */
    }


    &__list-item:hover{
        transition: border-bottom 1px solid white 1s;
        
    }
    
    &__logo{
        margin-bottom: 43px;
    }

    &__address, &__email{
        color: #FFF;
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 26px; /* 185.714% */
    }
    
    &__address{
        margin: 12px 0;
    }
    
    &__socials{
        display: flex;
        column-gap: 20px;
        align-items: center;
        margin: 38px 0 30px;
    }
    
    &__copyright{
        color: #BDBDBD;
        font-family: 'Montserrat', sans-serif;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &__tel{
        color: #FFF;
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 26px; /* 144.444% */
    }
    

    &__address, &__email{
        color: #FFF;
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 26px; /* 185.714% */
    }
    
}

