* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.3s;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  overflow-x: hidden;
  background: #F6F7F9;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

a {
  color: inherit;
  text-decoration: none;
}

ul, ol {
  list-style-type: none;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  color: #000;
}
.header__content {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
}

.header {
  color: #000;
}
.header__content {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.header__nav-list {
  display: flex;
  align-items: center;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
.header__list-item {
  position: relative;
}
.header__list-item a::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #00093C;
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}
.header__list-item a:hover::after, .header__list-item a:focus::after {
  opacity: 1;
  transform: translate3d(0, 0.2em, 0);
}
.header__others {
  display: flex;
  -moz-column-gap: 40px;
       column-gap: 40px;
  align-items: center;
}
.header__location, .header__login, .header__list-item_courses {
  display: flex;
  align-items: center;
  -moz-column-gap: 9px;
       column-gap: 9px;
}
.header__tel {
  color: #00093C;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.home {
  height: 480px;
}
.home__content {
  display: flex;
  width: 100%;
  margin: 0 auto;
  height: 480px;
  position: relative;
}
.home__right {
  width: 45%;
}
.home__left {
  width: 55%;
  background: url(../images/Group\ 788.png) bottom repeat;
  background-color: #00093C;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home__left-text {
  position: relative;
  margin-left: 14%;
  margin-bottom: 6%;
}
.home__title {
  background-color: #00093C;
  color: #FFF;
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 70px;
  top: 22%;
  left: 25%;
}
.home__desc {
  background-color: #00093C;
  margin-top: 5%;
  color: #FFF;
  font-family: "Montserrat";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.home__right {
  background: url(/src/images/homebg.png) right/cover repeat;
}
.home svg {
  position: absolute;
}

.age {
  padding: 110px 0 150px;
}
.age__sova {
  position: absolute;
  left: -15%;
  top: 62%;
}
.age__sova svg {
  position: absolute;
  top: -85%;
  left: 25%;
  z-index: -1;
}
.age__sova-text {
  position: absolute;
  top: -70%;
  left: 35%;
  width: 240px;
  height: 130px;
}
.age__sova-desc {
  margin: 25px 0;
}
.age__content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0 0 50px;
}
.age__types {
  position: relative;
  width: 800px;
  display: flex;
  justify-content: space-between;
}
.age__prop {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
  align-items: center;
}
.age__prop-underline {
  position: absolute;
  bottom: -10%;
  left: 0;
  z-index: 4;
  transition: 0.5s;
}
.age__title {
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.age__title span {
  color: #4F4F4F;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.age__underline {
  position: absolute;
  bottom: -15%;
  left: 0;
}
.age__faculty {
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.age__faculty-name {
  background: #fff;
  padding: 15px 20px;
  position: relative;
  border-radius: 6px;
  cursor: pointer;
  color: #000;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.age__faculty-name.active::after {
  filter: blur(20px);
}
.age__faculty-name:after {
  position: absolute;
  width: 100%;
  height: 90%;
  top: 10%;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: -1;
  content: "";
  filter: blur(5px);
  background: linear-gradient(90deg, #F7941D 0%, #27AAE1 100%);
}
.age__faculty-name:hover:after, .age__faculty-name:focus::after {
  filter: blur(20px);
}
.age__video-block {
  margin: 200px auto 0 auto;
  width: 68%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #00093C;
  border-radius: 20px;
  height: 400px;
}
.age__video {
  display: none;
}
.age__video.active {
  display: block;
}
.age__video-block a {
  width: 100%;
}
.age__video-block img {
  width: 100%;
  height: 400px;
  border-radius: 20px;
  opacity: 0.6;
  margin-top: 3px;
}
.age__video-play {
  z-index: 3;
  position: absolute;
  top: 40%;
  left: 45%;
}

.actual__title {
  width: 780px;
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 34px; /* 141.667% */
}
.actual__expert {
  margin: 40px 0;
  display: flex;
  align-items: center;
  -moz-column-gap: 120px;
       column-gap: 120px;
}
.actual__numbers-amount {
  padding: 0 3px;
  font-family: "Montserrat", monospace;
  font-size: 86px;
  font-weight: 700;
  letter-spacing: 8.17px;
  color: #fff;
  background-image: linear-gradient(90deg, rgb(247, 148, 29) 0%, rgb(39, 170, 225) 100%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-stroke: 7px transparent;
}
.actual__numbers-title {
  color: #000;
  font-family: "Montserrat";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px; /* 130% */
  padding: 0 3px;
}

.about {
  padding: 90px 0;
}
.about__content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.about__invite {
  width: 100%;
  padding: 30px 40px 23px 40px;
  border-radius: 20px;
  background: #F7BC75;
  display: flex;
  -moz-column-gap: 50px;
       column-gap: 50px;
  align-items: center;
}
.about__invite-text h3 {
  color: #000;
  font-family: "Montserrat";
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 72.222% */
  margin-bottom: 30px;
}
.about__invite-text p {
  width: 540px;
  color: #333;
  font-family: "Montserrat";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 144.444% */
}
.about__invite-btn {
  padding: 17px 61px;
  border-radius: 10px;
  border: 2px solid #000;
  margin-left: 10%;
  cursor: pointer;
  transition: 0.3s;
  display: flex;
  align-items: center;
  -moz-column-gap: 5px;
       column-gap: 5px;
}
.about__invite-btn span {
  color: #000;
  font-family: "Montserrat";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px; /* 185.714% */
}
.about__invite-btn:hover {
  background-color: #fff6eb;
  transition: 0.3s;
}
.about__programm {
  position: relative;
  width: 40%;
  text-align: center;
  border-radius: 20px;
  background: #C5DDFF;
  padding: 34px 40px 50px 40px;
}
.about__programm-title {
  color: #000;
  text-align: center;
  font-family: "Montserrat";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 108.333% */
}
.about__programm-text {
  color: #333;
  text-align: center;
  font-family: "Montserrat";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  margin: 45px 0 48px;
}
.about__programm-btn {
  margin: 0 auto;
  width: 230px;
  padding: 12px 61px;
  display: flex;
  align-items: center;
  -moz-column-gap: 5px;
       column-gap: 5px;
  border-radius: 10px;
  transition: 0.3s;
  border: 2px solid #00093C;
  cursor: pointer;
}
.about__programm-btn span {
  color: #00093C;
  font-family: "Montserrat";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 185.714% */
}
.about__programm-btn:hover {
  transition: 0.3s;
  background-color: #e7efff;
}
.about__others {
  width: calc(60% - 20px);
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.about__news, .about__it {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 33px 20px 46px 20px;
}
.about__news {
  width: calc((100% - 20px) / 2);
  height: 50%;
  border-radius: 20px;
  background: #B8EFCF;
  text-align: center;
}
.about__it {
  width: calc((100% - 20px) / 2);
  height: 50%;
  border-radius: 20px;
  background: #FFEEF6;
}
.about__test h3, .about__it h3, .about__news h3 {
  color: #000;
  font-family: "Montserrat";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 108.333% */
}
.about__test {
  position: relative;
  width: 100%;
  height: calc(50% - 20px);
  border-radius: 20px;
  background: #FFE38E;
  padding: 58px 80px 58px 50px;
  display: flex;
  gap: 52px;
  align-items: center;
}
.about__test-text {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.about__test p {
  color: #333;
  font-family: "Montserrat";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.about__test, .about__news, .about__it, .about__programm {
  cursor: pointer;
}
.about__test:after, .about__news:after, .about__it:after, .about__programm:after {
  position: absolute;
  width: 98%;
  height: 98%;
  top: 2%;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: -1;
  content: "";
  filter: blur(5px);
  background: linear-gradient(90deg, #F7941D 0%, #27AAE1 100%);
}
.about__test:hover:after, .about__news:hover:after, .about__it:hover:after, .about__programm:hover:after {
  filter: blur(10px);
}

.comments {
  position: relative;
  margin: 50px 0;
  padding: 50px 0 50px;
  background: url(../images/Group\ 788.png) top repeat;
  background-color: #00093C;
}
.comments__title {
  text-align: center;
  color: #FFF;
  font-family: "Montserrat";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.comments .swiper-wrapper {
  margin-top: 80px;
}
.comments__card {
  padding: 20px;
  border-radius: 20px;
  width: 15%;
  background: #fff;
}
.comments__card:nth-child(even) {
  height: 100%;
}
.comments__card-title {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
  align-items: center;
}
.comments__card-pic {
  border-radius: 50%;
  width: 15%;
}
.comments__card-name {
  color: #000;
  font-family: "Montserrat";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.comments__card-stud {
  color: var(--Gray-2, #4F4F4F);
  font-family: "Montserrat";
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.comments__card-text {
  margin: 20px 0;
  color: #000;
  font-family: "Montserrat";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; /* 157.143% */
}
.comments__card-rating {
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}

.welcome {
  padding: 50px 0 420px;
}
.welcome__title {
  color: #000;
  font-family: "Montserrat";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 34px; /* 94.444% */
}
.welcome__content {
  margin: 60px 0 0;
  display: flex;
  -moz-column-gap: 40px;
       column-gap: 40px;
  align-items: center;
}
.welcome__content p {
  width: 280px;
  margin-top: 25px;
  color: #000;
  font-family: "Montserrat";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 144.444% */
}

.footer {
  padding: 70px 0 60px;
  background: #00093C;
  color: #fff;
  position: relative;
}
.footer .help {
  position: absolute;
  top: -40%;
  width: 1180px;
  height: 270px;
  padding: 40px 40px 40px 470px;
  background-color: #fff;
  border-radius: 20px;
}
.footer .help__sign {
  position: absolute;
  left: -5%;
  display: flex;
}
.footer .help__sign-box {
  margin-left: 50px;
  border-radius: 20px;
  width: 352px;
  height: 100%;
  padding: 40px;
  background: #fff;
  padding: 3px;
  z-index: 4;
}
.footer .help__sign-bord {
  position: absolute;
  top: -5%;
  right: -3%;
}
.footer .help__sign-title {
  color: #000;
  font-family: "Montserrat";
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.footer .help__sign-text {
  margin-top: 20px;
  color: #000;
  font-family: "Montserrat";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
}
.footer .help:after {
  position: absolute;
  width: 99%;
  height: 100%;
  top: 2%;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: -5;
  content: "";
  filter: blur(5px);
  background: linear-gradient(90deg, #F7941D 0%, #27AAE1 100%);
}
.footer .help__form {
  margin-left: 40%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.footer .help__form input {
  padding: 15px 20px;
  outline: none;
  border-radius: 6px;
  background: rgba(0, 9, 60, 0.1);
  border: none;
}
.footer .help__form input input, .footer .help__form input select, .footer .help__form input textarea:focus {
  color: #00093C;
}
.footer .help__form-text {
  width: 400px;
}
.footer .help__form-text::-moz-placeholder {
  color: #4F4F4F;
  font-family: "Montserrat";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer .help__form-text:-ms-input-placeholder {
  color: #4F4F4F;
  font-family: "Montserrat";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer .help__form-text::placeholder {
  color: #4F4F4F;
  font-family: "Montserrat";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer .help__form-tel {
  width: 190px;
}
.footer .help__form-agreement {
  width: 190px;
  color: #4F4F4F;
  font-family: "Montserrat";
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px; /* 140% */
}
.footer .help__form button {
  width: 190px;
  border-radius: 6px;
  background: #F7941D;
  border: none;
  cursor: pointer;
  color: #FFF;
  text-align: center;
  font-family: "Montserrat";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px; /* 185.714% */
}
.footer .help__form button:hover {
  background: #FFAE4D;
}
.footer__content {
  display: flex;
  justify-content: space-between;
}
.footer__box {
  display: flex;
  -moz-column-gap: 60px;
       column-gap: 60px;
}
.footer__block {
  margin-top: 100px;
}
.footer__block, .footer__list-block {
  display: flex;
  flex-direction: column;
}
.footer__list-block {
  row-gap: 24px;
}
.footer__list {
  display: flex;
  flex-direction: column;
  color: #FFF;
}
.footer__list-item {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px; /* 242.857% */
}
.footer__list-item:hover {
  transition: border-bottom 1px solid white 1s;
}
.footer__logo {
  margin-bottom: 43px;
}
.footer__address, .footer__email {
  color: #FFF;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 185.714% */
}
.footer__address {
  margin: 12px 0;
}
.footer__socials {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
  align-items: center;
  margin: 38px 0 30px;
}
.footer__copyright {
  color: #BDBDBD;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer__tel {
  color: #FFF;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px; /* 144.444% */
}
.footer__address, .footer__email {
  color: #FFF;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 185.714% */
}

@media (max-width: 1400px) {
  body, html {
    overflow-x: hidden;
  }
  .home__right {
    background: url(/src/images/homebg.png) right/cover repeat;
  }
  .home-text {
    margin-left: 44%;
  }
  .home__title {
    font-size: 28px;
  }
  .age__sova {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */