* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

a {
  color: inherit;
  text-decoration: none;
}

ul, ol {
  list-style-type: none;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  color: #000;
}
.header__content {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
}

.header {
  color: #000;
}
.header__content {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.header__nav-list {
  display: flex;
  align-items: center;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
.header__others {
  display: flex;
  -moz-column-gap: 40px;
       column-gap: 40px;
  align-items: center;
}
.header__location, .header__login, .header__list-item_courses {
  display: flex;
  align-items: center;
  -moz-column-gap: 9px;
       column-gap: 9px;
}
.header__tel {
  color: #00093C;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.home {
  height: 480px;
}
.home__content {
  display: flex;
  width: 100%;
  margin: 0 auto;
  height: 480px;
  position: relative;
}
.home__left, .home__right {
  width: 50%;
}
.home__left {
  background: url(/src/images/BGBG.png) right/cover repeat;
  background-color: #00093C;
  position: relative;
}
.home__title {
  position: absolute;
  text-align: start;
  color: #FFF;
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 70px;
  top: 110px;
  right: 110px;
}
.home__text {
  position: absolute;
  bottom: 170px;
  right: 110px;
  text-align: start;
  color: #FFF;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.home__right {
  background: url(/src/images/homebg.png) right/cover no-repeat;
}
.home__svg-x {
  position: absolute;
  top: 75px;
  left: 100px;
}
.home__svg-botline {
  position: absolute;
  bottom: -13px;
  left: 73px;
}
.home__svg-triangle {
  position: absolute;
  bottom: 60px;
  left: 534px;
}
.home__svg-midline {
  position: absolute;
  top: 240px;
  left: 40%;
}
.home__svg-right-x {
  position: absolute;
}

.age {
  padding: 110px 0;
}
.age__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.age__types {
  position: relative;
  width: 800px;
  display: flex;
  justify-content: space-between;
}
.age__prop {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
  align-items: center;
}
.age__title {
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.age__title span {
  color: #4F4F4F;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.age__underline {
  position: absolute;
  bottom: -15%;
  left: 0;
}
.age__faculty {
  margin-top: 50px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.age__faculty-name {
  padding: 15px 20px;
  position: relative;
  border-radius: 6px;
  border: 1px solid black;
}

.footer {
  padding: 30px 0 60px;
  background: #00093C;
  color: #fff;
}
.footer__content {
  display: flex;
  justify-content: space-between;
}
.footer__box {
  display: flex;
  -moz-column-gap: 60px;
       column-gap: 60px;
}
.footer__block {
  margin-top: 100px;
}
.footer__block, .footer__list-block {
  display: flex;
  flex-direction: column;
}
.footer__list-block {
  row-gap: 24px;
}
.footer__list {
  display: flex;
  flex-direction: column;
  color: #FFF;
}
.footer__list-item {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px; /* 242.857% */
}
.footer__list-item:hover {
  transition: border-bottom 1px solid white 1s;
}
.footer__logo {
  margin-bottom: 43px;
}
.footer__address, .footer__email {
  color: #FFF;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 185.714% */
}
.footer__address {
  margin: 12px 0;
}
.footer__socials {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
  align-items: center;
  margin: 38px 0 30px;
}
.footer__copyright {
  color: #BDBDBD;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer__tel {
  color: #FFF;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px; /* 144.444% */
}
.footer__address, .footer__email {
  color: #FFF;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 185.714% */
}/*# sourceMappingURL=style.css.map */