* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

a {
  color: inherit;
  text-decoration: none;
}

ul, ol {
  list-style-type: none;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  color: #000;
}
.header__content {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
}

.header {
  color: #000;
}
.header__content {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.header__nav-list {
  display: flex;
  align-items: center;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
.header__others {
  display: flex;
  -moz-column-gap: 40px;
       column-gap: 40px;
  align-items: center;
}
.header__location, .header__login, .header__list-item_courses {
  display: flex;
  align-items: center;
  -moz-column-gap: 9px;
       column-gap: 9px;
}
.header__tel {
  color: #00093C;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.home {
  height: 480px;
}
.home__content {
  display: flex;
  width: 100%;
  margin: 0 auto;
  height: 480px;
  position: relative;
}
.home__left, .home__right {
  width: 50%;
}
.home__left {
  background: url(../images/Group\ 788.png) bottom/cover repeat;
  background-color: #00093C;
  position: relative;
}
.home__title {
  position: absolute;
  text-align: start;
  color: #FFF;
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 70px;
  top: 22%;
  left: 25%;
}
.home__text {
  position: absolute;
  bottom: 35%;
  right: 20%;
  text-align: start;
  color: #FFF;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.home__right {
  background: url(/src/images/homebg.png) right/cover no-repeat;
}
.home__svg-x {
  position: absolute;
  top: 75px;
  left: 100px;
}
.home__svg-botline {
  position: absolute;
  bottom: -13px;
  left: 73px;
}
.home__svg-triangle {
  position: absolute;
  bottom: 60px;
  left: 534px;
}
.home__svg-midline {
  position: absolute;
  top: 240px;
  left: 40%;
}
.home__svg-right-x {
  position: absolute;
}

.age {
  padding: 110px 0;
}
.age__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0 0 50px;
}
.age__types {
  position: relative;
  width: 800px;
  display: flex;
  justify-content: space-between;
}
.age__prop {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
  align-items: center;
}
.age__prop-underline {
  position: absolute;
  bottom: -10%;
  left: 0;
  z-index: 4;
  transition: 0.5s;
}
.age__title {
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.age__title span {
  color: #4F4F4F;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.age__underline {
  position: absolute;
  bottom: -15%;
  left: 0;
}
.age__faculty {
  width: 100%;
  margin-top: 50px;
  display: flex;
  align-items: center;
  margin-left: 30%;
  flex-wrap: wrap;
  gap: 20px;
}
.age__faculty-name {
  background: #fff;
  padding: 15px 20px;
  position: relative;
  border-radius: 6px;
  cursor: pointer;
  color: #000;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.age__faculty-name:after {
  position: absolute;
  width: 100%;
  height: 90%;
  top: 10%;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: -1;
  content: "";
  filter: blur(5px);
  background: linear-gradient(90deg, #F7941D 0%, #27AAE1 100%);
}
.age__faculty-name:hover:after {
  filter: blur(20px);
}
.age__video-block {
  margin: 200px auto 0 auto;
  width: 68%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #00093C;
  border-radius: 20px;
  height: 400px;
}
.age__video-block a {
  width: 100%;
}
.age__video-block img {
  width: 100%;
  height: 400px;
  border-radius: 20px;
  opacity: 0.6;
  margin-top: 3px;
}
.age__video-play {
  z-index: 3;
  position: absolute;
  top: 40%;
  left: 45%;
}

.actual__title {
  width: 780px;
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 34px; /* 141.667% */
}
.actual__expert {
  margin: 40px 0;
  display: flex;
  align-items: center;
  -moz-column-gap: 120px;
       column-gap: 120px;
}
.actual__numbers-amount {
  padding: 0 3px;
  font-family: "Montserrat", monospace;
  font-size: 86px;
  font-weight: 700;
  letter-spacing: 8.17px;
  color: #fff;
  background-image: linear-gradient(90deg, rgb(247, 148, 29) 0%, rgb(39, 170, 225) 100%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-stroke: 7px transparent;
}
.actual__numbers-title {
  color: #000;
  font-family: "Montserrat";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px; /* 130% */
  padding: 0 3px;
}

.about {
  margin: 90px 0;
}
.about__content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.about__invite {
  width: 100%;
  padding: 30px 40px 23px 40px;
  border-radius: 20px;
  background: #F7BC75;
  display: flex;
  -moz-column-gap: 50px;
       column-gap: 50px;
  align-items: center;
}
.about__invite-text h3 {
  color: #000;
  font-family: "Montserrat";
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 72.222% */
  margin-bottom: 30px;
}
.about__invite-text p {
  width: 540px;
  color: #333;
  font-family: "Montserrat";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 144.444% */
}
.about__invite-btn {
  padding: 17px 61px;
  border-radius: 10px;
  border: 2px solid #000;
  margin-left: 10%;
  cursor: pointer;
  transition: 0.3s;
  display: flex;
  align-items: center;
  -moz-column-gap: 5px;
       column-gap: 5px;
}
.about__invite-btn span {
  color: #000;
  font-family: "Montserrat";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px; /* 185.714% */
}
.about__invite-btn:hover {
  background-color: #fff6eb;
  transition: 0.3s;
}
.about__programm {
  width: 40%;
  text-align: center;
  border-radius: 20px;
  background: #C5DDFF;
  padding: 34px 40px 50px 40px;
}
.about__programm-title {
  color: #000;
  text-align: center;
  font-family: "Montserrat";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 108.333% */
}
.about__programm-text {
  color: #333;
  text-align: center;
  font-family: "Montserrat";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  margin: 45px 0 48px;
}
.about__programm-btn {
  margin: 0 auto;
  width: 230px;
  padding: 12px 61px;
  display: flex;
  align-items: center;
  -moz-column-gap: 5px;
       column-gap: 5px;
  border-radius: 10px;
  transition: 0.3s;
  border: 2px solid #00093C;
  cursor: pointer;
}
.about__programm-btn span {
  color: #00093C;
  font-family: "Montserrat";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 185.714% */
}
.about__programm-btn:hover {
  transition: 0.3s;
  background-color: #e7efff;
}
.about__others {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.about__news {
  width: 330px;
  height: 50%;
  border-radius: 20px;
  background: #B8EFCF;
  padding: 33px 20px 46px 20px;
  text-align: center;
}
.about__it {
  width: 310px;
}

.footer {
  padding: 30px 0 60px;
  background: #00093C;
  color: #fff;
}
.footer__content {
  display: flex;
  justify-content: space-between;
}
.footer__box {
  display: flex;
  -moz-column-gap: 60px;
       column-gap: 60px;
}
.footer__block {
  margin-top: 100px;
}
.footer__block, .footer__list-block {
  display: flex;
  flex-direction: column;
}
.footer__list-block {
  row-gap: 24px;
}
.footer__list {
  display: flex;
  flex-direction: column;
  color: #FFF;
}
.footer__list-item {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px; /* 242.857% */
}
.footer__list-item:hover {
  transition: border-bottom 1px solid white 1s;
}
.footer__logo {
  margin-bottom: 43px;
}
.footer__address, .footer__email {
  color: #FFF;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 185.714% */
}
.footer__address {
  margin: 12px 0;
}
.footer__socials {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
  align-items: center;
  margin: 38px 0 30px;
}
.footer__copyright {
  color: #BDBDBD;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer__tel {
  color: #FFF;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px; /* 144.444% */
}
.footer__address, .footer__email {
  color: #FFF;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 185.714% */
}/*# sourceMappingURL=style.css.map */