

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.3s;
}

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    overflow-x: hidden;
    background: #F6F7F9;
}


img{
    object-fit: cover;
}

a{
    color: inherit;
    text-decoration: none;
}

ul, ol{
    list-style-type: none;
}

.container{
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 20px ; 
}




$gradientYelBlue: linear-gradient(90deg, rgba(247,148,29,1) 0%, rgba(39,170,225,1) 100%);


@import './header';



.header{
    color: #000;
    &__content{
        padding: 20px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #000;
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    &__nav-list{
        display: flex;
        align-items: center;
        column-gap: 40px;

       
    }

    &__list-item{
        position: relative;
        & a::after {
            content: '';
            position: absolute;
            bottom: -2px;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: #00093C;
            opacity: 0;
            transition: opacity 300ms, transform 300ms;
          }

        & a:hover::after,
        & a:focus::after {
            opacity: 1;
            transform: translate3d(0, 0.2em, 0);
        }
    }


    &__others{
        display: flex;
        column-gap: 40px;
        align-items: center;
    }

    &__location, &__login, &__list-item_courses{ 
        display: flex;
        align-items: center;
        column-gap: 9px;
        
    }

    &__tel{
        color: #00093C;
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        font-weight: 500;
    }
}


.home{
    height: 480px;
    &__content{
        display: flex;
        width: 100%;
        margin: 0 auto;
        height: 480px;
        position: relative;
    }


    &__right{
        width: 45%;
    }

    &__left{
        width: 55%;
        background: url(../images/Group\ 788.png) bottom repeat;
        background-color: #00093C;
        display: flex;
        justify-content: center;
        align-items: center;

        &-text{
            position: relative;
            margin-left: 14%;
            margin-bottom: 6%;
        }
    }


   
        


    &__title{
        background-color: #00093C;
        color: #FFF;
        font-family: 'Montserrat', sans-serif;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 70px;
        top: 22%;
        left: 25%;
    }

    &__desc{
        background-color: #00093C;
        margin-top: 5%;
        color: #FFF;
        font-family: 'Montserrat';
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    &__right{
        background: url(/src/images/homebg.png) right/cover repeat;
    }

    & svg{
        position: absolute;

    }

    

   
    
}

.age{
    padding: 110px 0 150px;
    

    &__sova{
        position: absolute;
        left: -15%;
        top: 62%;

        & svg{
            position: absolute;
            top: -85%;
            left: 25%;
            z-index: -1;
        }

        &-text{
            position: absolute;
            top: -70%;
            left: 35%;
            width: 240px;
            height: 130px;
        }

        &-desc{
            margin: 25px 0;
        }
    }

    &__content{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 0 0 50px;
    }

    &__types{
        position: relative;
        width: 800px;
        display: flex;
        justify-content: space-between;
    }

    &__prop{
      display: flex;
      column-gap: 20px;
      align-items: center;


      &-underline{
        position: absolute;
        bottom: -10%;
        left: 0;
        z-index: 4;
        transition: .5s
      }
    }

    &__title{
        color: #000;
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    &__title span{
        color:#4F4F4F;
        font-family: 'Montserrat', sans-serif;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &__underline{
        position: absolute;
        bottom: -15%;
        left: 0;
    }

    &__faculty{
        width: 100%;
        margin-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;

        &-name{
            background: #fff;
            padding: 15px 20px;
            position: relative;
            border-radius: 6px;
            cursor: pointer;
            color: #000;
            text-align: center;
            font-family: 'Montserrat', sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            &.active::after{
                filter: blur(20px);
            }

            &:after {
                position: absolute;
                width: 100%;
                height: 90%;
                top: 10%;
                left: 0;
                right: 0;
                margin: 0 auto;
                z-index: -1;
                content: "";
                filter: blur(5px);
                background: linear-gradient(90deg, #F7941D 0%, #27AAE1 100%);
              }


              &:hover:after, &:focus::after{
                filter: blur(20px);
              }  
        }

       }

       &__video-block{
        margin: 200px auto 0 auto;
        width: 68%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background: #00093C;
        border-radius: 20px;
        height: 400px;
      }

      &__video{
        display: none;
      }

      &__video.active{
        display: block;
      }

      &__video-block a{
        width: 100%;
      }

      &__video-block img{
        width: 100%;
        height: 400px;
        border-radius: 20px;
        opacity: 0.6;
        margin-top: 3px;
      }

       &__video-play{
        z-index: 3;
        position: absolute;
        top: 40%;
        left: 45%;
      }
      
}

.actual{
    &__title{
        width: 780px;
        color: #000;
        font-family: 'Montserrat', sans-serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 34px; /* 141.667% */
    }

    &__expert{
        margin: 40px 0;
        display: flex;
        align-items: center;
        column-gap: 120px;
    }
    &__numbers-amount{
        padding: 0 3px;
        font-family: 'Montserrat', monospace;
        font-size: 86px;
        font-weight: 700;
        letter-spacing: 8.17px;
        color: #fff;
        background-image: $gradientYelBlue;
        background-clip: text;
        -webkit-text-stroke: 7px transparent;
        
    }
    
    &__numbers-title{
        color: #000;
        font-family: 'Montserrat';
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 26px; /* 130% */
        padding: 0 3px;
    }
}


.about{
    padding: 90px 0;

    &__content{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    &__invite{
        width: 100%;
        padding: 30px 40px 23px 40px;
        border-radius: 20px;
        background: #F7BC75;
        display: flex;
        column-gap: 50px;
        align-items: center;

        &-text h3{
            color: #000;
            font-family: 'Montserrat';
            font-size: 36px;
            font-style: normal;
            font-weight: 500;
            line-height: 26px; /* 72.222% */
            margin-bottom: 30px;
        }

        &-text p{
            width: 540px;
            color:  #333;
            font-family: 'Montserrat';
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 26px; /* 144.444% */
        }

        &-btn{
           padding: 17px 61px;
           border-radius: 10px;
           border: 2px solid #000;
           margin-left: 10%;
           cursor: pointer;
           transition: .3s;
           display: flex;
           align-items: center;
           column-gap: 5px;
        }

        &-btn span{
            color: #000;
            font-family: 'Montserrat';
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: 26px; /* 185.714% */
        }

        &-btn:hover{
            background-color: #fff6eb;
            transition: .3s;
        }

        
    }

    &__programm{
        position: relative;
        width: 40%;
        text-align: center;
        border-radius: 20px;
        background: #C5DDFF;
        padding: 34px 40px 50px 40px;

        &-title{
            color: #000;
            text-align: center;
            font-family: 'Montserrat';
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: 26px; /* 108.333% */
        }

        &-text{
            color: #333;
            text-align: center;
            font-family: 'Montserrat';
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px; /* 150% */
            margin: 45px 0 48px;
        }
    
        &-btn{
            margin: 0 auto;
            width: 230px;
            padding: 12px 61px;
            display: flex;
            align-items: center;
            column-gap: 5px;
            border-radius: 10px;
            transition: .3s;
            border: 2px solid #00093C;
            cursor: pointer;
        }

        &-btn span{
            color: #00093C;
            font-family: 'Montserrat';
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 26px; /* 185.714% */
        }

        &-btn:hover{
            transition: .3s;
            background-color: #e7efff;
        }
    }

    &__others{
        width: calc(60% - 20px);
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    &__news, &__it{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 33px 20px 46px 20px;

    }

    &__news{
        width: calc((100% - 20px) / 2);
        height: 50%;
        border-radius: 20px;
        background: #B8EFCF;
        text-align: center;
        
    }

    &__it{
        width: calc((100% - 20px) / 2);
        height: 50%;
        border-radius: 20px;
        background: #FFEEF6;
    }

    &__test h3, &__it h3, &__news h3{
        color: #000;
        font-family: 'Montserrat';
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 26px; /* 108.333% */
    }

    &__test{
        position: relative;
        width: 100%;
        height: calc(50% - 20px);
        border-radius: 20px;
        background: #FFE38E;
        padding: 58px 80px 58px 50px;
        display: flex;
        gap: 52px;
        align-items: center;
    }
    

    &__test-text{
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }
    

    &__test p{
        color: #333;
        font-family: 'Montserrat';
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 150% */
    }


    &__test, &__news, &__it, &__programm{
        cursor: pointer;
        &:after {
            position: absolute;
            width: 98%;
            height: 98%;
            top: 2%;
            left: 0;
            right: 0;
            margin: 0 auto;
            z-index: -1;
            content: "";
            filter: blur(5px);
            background: linear-gradient(90deg, #F7941D 0%, #27AAE1 100%);
          }


          &:hover:after{
            filter: blur(10px);
          }
    }
    
}





.comments{
    position: relative;
    margin: 50px 0; 
    padding: 50px 0 50px;
    background: url(../images/Group\ 788.png) top repeat;
    background-color: #00093C;

    &__title{
        text-align: center;
        color: #FFF;
        font-family: 'Montserrat';
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .swiper-wrapper{
        margin-top: 80px;
        
    }

    &__card{
        padding: 20px;
        border-radius: 20px;
        width: 15%;
        
        background: #fff;
        &:nth-child(even){
            height: 100%;
        }

    &-title{
        display: flex;
        column-gap: 10px;
        align-items: center;
    }

    
        &-pic{
            border-radius: 50%;
            width: 15%;
        }

        &-name{
            color: #000;
            font-family: 'Montserrat';
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }

        &-stud{
            color: var(--Gray-2, #4F4F4F);
            font-family: 'Montserrat';
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }

    
    &-text{
        margin: 20px 0;
        color: #000;
        font-family: 'Montserrat';
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 22px; /* 157.143% */
    }

    &-rating{
        display: flex;
        align-items: center;
        column-gap: 10px;
    }

    }


    
}


.welcome{
    padding: 50px 0 420px;

    &__title{
        color: #000;
        font-family: 'Montserrat';
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 34px; /* 94.444% */
    }

    &__content{
        margin: 60px 0 0;
        display: flex;
        column-gap: 40px;
        align-items: center;

        & p{
            width: 280px;
            margin-top: 25px;
            color: #000;
            font-family: 'Montserrat';
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 26px; /* 144.444% */
        }
    }

    
}







// Footer

.footer{
    padding: 70px 0 60px;
    background: #00093C;
    color: #fff;
    position: relative;
   


    .help{
        position: absolute;
        top: -40%;
        width: 1180px;
        height: 270px;
        padding: 40px 40px 40px 470px;
        background-color: #fff;
        border-radius: 20px;
        

        &__sign{
            position: absolute;
            left: -5%;
            display: flex;

          

            &-box{
                margin-left: 50px;
                border-radius: 20px;
                width: 352px;
                height: 100%;
                padding: 40px;
                background: #fff;
                padding: 3px;
                z-index: 4;
            }

            &-bord{
                position: absolute;
                top: -5%;
                right: -3%;
            }

            &-title{
                color: #000;
                font-family: 'Montserrat';
                font-size: 24px;
                font-style: normal;
                font-weight: 800;
                line-height: normal;
            }

            &-text{
                margin-top: 20px;
                color: #000;
                font-family: 'Montserrat';
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 26px;
            }

            &::before{
                
            }


        }

        &:after {
            position: absolute;
            width: 99%;
            height: 100%;
            top: 2%;
            left: 0;
            right: 0;
            margin: 0 auto;
            z-index: -5;
            content: "";
            filter: blur(5px);
            background: linear-gradient(90deg, #F7941D 0%, #27AAE1 100%);
          }



        &__form{
           margin-left: 40%;
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            & input{
                padding: 15px 20px;
                outline: none;
                border-radius: 6px;
                background:rgba(0, 9, 60, 0.10);
                border: none;

                & input, select, textarea:focus{
                    color: #00093C;
                }
            }   

           &-text{
            width: 400px;

            &::placeholder{
                color: #4F4F4F;
                font-family: 'Montserrat';
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
           }
           &-tel{
            width: 190px;
           }

           &-agreement{
            width: 190px;
            color: #4F4F4F;
            font-family: 'Montserrat';
            font-size: 10px;
            font-style: normal;
            font-weight: 400;
            line-height: 14px; /* 140% */
           }

           & button{
            width: 190px;
            border-radius: 6px;
            background: #F7941D;
            border: none;
            cursor: pointer;
            color: #FFF;
            text-align: center;
            font-family: 'Montserrat';
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: 26px; /* 185.714% */

            &:hover{
                background: #FFAE4D;
            }
           }
        }
         
    }


    &__content{
        display: flex;
        justify-content: space-between;
    }

    &__box{
        display: flex;
        column-gap:60px;
    }

    &__block{
        margin-top: 100px;
    }

    &__block, &__list-block{
        display: flex;
        flex-direction: column;
    }

    &__list-block{
        row-gap: 24px;
    }
    

    &__list{
        display: flex;
        flex-direction: column;
        color: #FFF;
        
    }

    &__list-item{
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 34px; /* 242.857% */
    }


    &__list-item:hover{
        transition: border-bottom 1px solid white 1s;
        
    }
    
    &__logo{
        margin-bottom: 43px;
    }

    &__address, &__email{
        color: #FFF;
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 26px; /* 185.714% */
    }
    
    &__address{
        margin: 12px 0;
    }
    
    &__socials{
        display: flex;
        column-gap: 20px;
        align-items: center;
        margin: 38px 0 30px;
    }
    
    &__copyright{
        color: #BDBDBD;
        font-family: 'Montserrat', sans-serif;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &__tel{
        color: #FFF;
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 26px; /* 144.444% */
    }
    

    &__address, &__email{
        color: #FFF;
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 26px; /* 185.714% */
    }
    
}



@media (max-width: 1400px) {

    body, html{
        overflow-x: hidden;
    }

    .home{

        &__right{
            background: url(/src/images/homebg.png) right/cover repeat;
        }

        &-text{
            margin-left: 44%;
        }

        &__title{
            font-size: 28px;
        }

    }




    .age__sova{
        display: none;
    }
}